# Flask Configuration
FLASK_APP=app.py
FLASK_ENV=development
SECRET_KEY=your_super_secret_key_change_in_production
WTF_CSRF_SECRET_KEY=your_csrf_secret_key_change_in_production
DATABASE_URL=sqlite:///nanosafe.db

# Security
SECURITY_PASSWORD_SALT=your_password_salt_change_in_production

# Mail Configuration (used for OTP and Reset Password)
# Use your SMTP credentials
MAIL_SERVER=smtp.gmail.com
MAIL_PORT=587
MAIL_USE_TLS=True
MAIL_USERNAME=dhatrikaakepati@gmail.com
MAIL_PASSWORD=yjorznnioppcurezc
MAIL_DEFAULT_SENDER=dhatrikaakepati@gmail.com

# Admin Auto-Provisioning (Read on startup)
ADMIN_USERNAME=admin
ADMIN_EMAIL=admin@nanosafe.local
ADMIN_PASSWORD=AdminPassword123!
